<h1>Edit your dates</h1>

<%= render 'form', survey: @survey %>

<%= link_to 'Show', @survey %> 
<%= link_to 'View Results', surveys_path, class: "btn btn-primary white" %>
<%= link_to 'Exit', complete_path, class: "btn btn-primary" %>
